* {
    text-align: center;
    background-color: black;
}

.title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-size: 50px;
    color: white;
    
}

.link {
    color: aquamarine;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: underline;
}

.video {
    background-color: black;
    background-image: url(/resources/videos/excursion.mp4);
    width: 20%;
    height: 400px;

}

.title2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: 42px;
    font-weight: 300;
}

.info {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: gray;
    font-size: 21px;
}

.tent_image {
    align-items: center;
    background-image: url(/resources/images/camp.webp);

}

.phone_image {
    background-image: url(/resources/images/phone.webp);


}