* {
    text-align: center;
    background-color: black;
}

div.container {
    display: inline-block;
    justify-content: space-between;
    text-align: center;
    flex-direction: column;

}

.title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-size: 50px;
    color: white;
    
}

.link {
    color: aquamarine;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: underline;
}

.video {
    background-color: black;
    background-image: url(/resources/videos/excursion.mp4);

    padding: 20px;

}

.title2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: 42px;
    font-weight: 300;
}

.info {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: gray;
    font-size: 21px;
}

.tent_image {
    background-image: url(/resources/images/camp.webp);
    text-align: center; 
}

.phone_image {
    background-image: url(/resources/images/phone.webp);
    text-align: center;
    padding: 20px 0 0 0;
    
}

.footer {
    display: inline-flex;
    justify-content: space-around;
    flex-direction: row;
    text-align: right;

}

.copyright {
    text-align: right;
    color: gray;
    font-size: 21px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
    background-image: url(/resources/favicon_io/favicon-32x32.png);
}