* {
    text-align: center;
    background-color: black;
}

div.container {
    display: inline-block;
    justify-content: space-between;
    text-align: center;
    flex-direction: column;
}

.title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-size: 50px;
    color: white;
}

.link {
    color: aquamarine;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: underline;
}

.video {
    background-color: black;
    padding: 10px;
}

.title2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: 42px;
    font-weight: 300;
}

.info {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: gray;
    font-size: 21px;
}

.phone_image {
    padding: 20px 0 0 0;
}

#footer {
    display: flex;
    height: 50px;
    color: gray;
    justify-content: flex-end;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.copyright {
    color: gray;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
}

.favicon {
    display: inline-block;
    justify-content: space-evenly;
    font-size: 15px;
}